body {
	/*font-family: 'Arial', sans-serif;*/
	padding: 0px;
	margin: 0px;
	/*width:100vw;*/
	width:100%;
	height: 100%;
	/*font-family: 'Tangerine', serif;*/
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}
header {
	background-color: #DDD;
	border-bottom: 2px solid #777;
	padding: 20px;
	margin: 0px;
}
nav a {
	margin: 10px;
	text-decoration: none;
}
section {
	background-color: #FFF;
	padding: 60px 60px;
	margin: 0px 120px;
	border-left: 2px solid #777;
	border-right: 2px solid #777;
}
section div {
	/*padding: 0px 0px;*/
	/*margin: 0px 0px;*/
}
.bt_home {
	border-radius: 50px;
	padding: 0px;
}
footer {
	border-top: 2px solid #777;
	text-align: center;
	padding: 20px;
	margin: 0px;
	background-color: #DDD;
}
.wrapper {
	background-color: #DDD;
	/*height: 100vh;*/
}
table {
	text-align: center;
	/*border: 2px solid #000;*/
	/*padding: 0px;*/
	/*margin: 20px;*/
	border: 0px;
	display: block;
	/*float: center;*/
	/*width: auto;*/
	/*width: 100%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
table, td, tr {
	/*border: 1px solid #000;*/
	border-collapse: collapse;
	padding: 0px;
	margin: 10px 0px;

	/*height: 40px;*/
}
tr {
	border: 1px solid #000;
}
td {
	padding: 0px 20px;	
	border: 1px solid #000;
}
.trmain {
	font-weight: bold;
}
.pages {
	/*margin: 10px;*/
	/*padding: 20px;*/
	float: right;
}
.selecter {
	/*padding: 20px;*/
}
img {
	height: 60px;
	/*align-self: center;*/
	/*margin: 0px;*/
}
input {
	float: right;
	/*border-radius: 20px;*/
}
.sbutton {
	border-radius: 10px 0px 0px 10px;
}
.sfield {
	border-radius: 0px 10px 10px 0px;
}
.pages div {
	display: inline;
	/*margin: 0px;*/
	/*padding: 0px;*/
}
.home {
	display: inline;
}
* {
	/*border: 2px solid red;*/
}
/* a {
	text-decoration:none;
	background-color: #0099FF;
	font-size: 20px;
	padding: 5px;
	border-radius: 20px;
	border:10px;
	border-color:red;
}
.container {
	width: 900px;
}
.container input {
	background-color: #dddddd;
	border-color: #0000FF;
	width: 200px;
	padding: 7px;
	margin: 5px;
}
.style {
	background-color: #dddddd;
	border-color: #0000FF;
	border: 2px solid #0000FF;
	width: 200px;
	padding: 7px;
	margin: 5px;
	text-transform: capitalize;
}
* {
	border: 0px solid red;
} */